<app-top-toolbar [titlestring]="'Meets'" [color]="'accent'" [data]="meets" [dataLabel]="'Total Meets'"></app-top-toolbar>
<div class="component-body">
  <div class="meet" *ngFor="let meet of meets">
    <mat-card (click)="editMeet(meet)">
      <mat-card-header>
        <div mat-card-avatar [routerLink]="'../view/'+meet.id"><mat-icon>location_on</mat-icon></div>
        <mat-card-title [routerLink]="'../view/'+meet.id">{{meet.location}}</mat-card-title>
        <mat-card-subtitle [routerLink]="'../view/'+meet.id">{{meet.date | date:'short'}}</mat-card-subtitle>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="deleteMeet(meet);"><mat-icon>delete</mat-icon> Delete</button>
          <button mat-menu-item [routerLink]="'../view/'+meet.id"><mat-icon>location_on</mat-icon> View</button>
        </mat-menu>

        <span class="flex-1"></span>
        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-card-header>
      <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <mat-card-subtitle>Events {{ meet.events.length}}</mat-card-subtitle>
        <div class="event-container">
                    <span *ngFor="let event of meet.events" selected="true">
                        {{event.type}}
                    </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<button mat-fab matTooltip="Add Event" (click)="onEventAdd()"><mat-icon>add</mat-icon></button>

