<app-top-toolbar [titlestring]="'Meets'" [color]="'accent'" [data]="meets" [dataLabel]="'Total Meets'"></app-top-toolbar>
<div class="component-body">
    <div class="meet" *ngFor="let meet of meets">
        <mat-card (click)="editMeetModal(meet)">
            <mat-card-header>
                <div mat-card-avatar><mat-icon>location_on</mat-icon></div>
                <mat-card-title>{{meet.location}}</mat-card-title>
                <mat-card-subtitle>{{meet.date | date:'short'}}</mat-card-subtitle>
            </mat-card-header>
            <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
            <mat-card-content>
                <mat-card-subtitle>Events {{ meet.events.length}}</mat-card-subtitle>
                <div class="event-container">
                    <span *ngFor="let event of meet.events" selected="true">
                        {{event.type}}
                    </span>
                </div>
            </mat-card-content>
            <!--<mat-card-actions>-->
            <!--<a ><button mat-button>Edit</button></a>-->
            <!--</mat-card-actions>-->
        </mat-card>
    </div>
</div>
<button mat-fab matTooltip="Add Event" (click)="onEventAddModal()"><mat-icon>add</mat-icon></button>

