.event-fab {
   position: fixed;
   bottom: 1em;
 }

.mat-tab-group {
  height: 100%;


}

::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}

.mat-card {
  margin-bottom: 1em;
  margin-top: 1em;
}

.title {
  margin-top: 1em;
  margin-bottom: 1em;
}