<div class="component-start" *ngIf="athlete">
  <app-top-toolbar [titlestring]="'Athlete: ' + athlete.firstName + ' ' + athlete.lastName" [color]="'primary'"></app-top-toolbar>
  <div class="component-body">
    <mat-tab-group>
      <mat-tab label="Meets">
        <p *ngIf="!meets || meets.length == 0">No meets!?<br /> go out there and get running!</p>
        <mat-card *ngFor="let meet of meets">
          <app-meet [meetObj]="meet"></app-meet>
        </mat-card>
      </mat-tab>
      <mat-tab label="Events">
        <h2 class="title">Event Types <button mat-button color="accent" (click)="addEventType()">add an event <mat-icon>add</mat-icon></button></h2>
        <!--<mat-card *ngFor="let type of eventTypes">-->
          <!--<mat-card-title>{{type}} <button mat-button color="accent" (click)="addEventType(type)">add a score  <mat-icon>add</mat-icon></button></mat-card-title>-->
          <!--<div *ngFor="let event of athlete.events[type]">{{event.date}} {{event.score}}</div>-->
        <!--</mat-card>-->
          <mat-card *ngFor="let type of eventTypes; let i = index">
          <mat-card-title>{{type}} <span class="primary-pill d-inline-block">PR: {{dataSource[i].data | topScore}}</span> <button mat-button color="accent" (click)="addEventType(type)">add a score  <mat-icon>add</mat-icon></button></mat-card-title>
            <ngx-datatable
                    class="material"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [rows]="eventValues[i]"
                    [columns]="columns"
                    >
              <ngx-datatable-column name="date">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  <span (click)="sort()">Date</span>
                </ng-template>
                <ng-template let-value="value" width="120" ngx-datatable-cell-template>
                  <strong>{{value | date:'dd/MM/yyyy'}}</strong>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="score">
                <ng-template let-column="column" let-sort="sortFn"  ngx-datatable-header-template>
                  <span (click)="sort()">Score</span>
                </ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <strong>{{value}}</strong>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </mat-card>
      </mat-tab>
    </mat-tab-group>


  </div>
</div>

