<div class="dashboard-container">
  <a href="events/list" [style.background]="'primary'">
    <mat-icon>event</mat-icon>
    <button mat-button>By Meet</button>
  </a>
  <a href="team/list">
    <mat-icon>supervisor_account</mat-icon>
    <button mat-button>By Athlete</button>
  </a>
  <!--<a href="school"><button mat-button>School/Coach</button></a>-->
  <router-outlet name="main"></router-outlet>
</div>

<!--<div class="component-start">-->
<!--<div class="component-body">-->

<!--<div class="dashboard-container-phone-style">-->
  <!--<a href="events/list" [style.background]="'primary'">-->
    <!--<mat-icon>event</mat-icon>-->
    <!--&lt;!&ndash;<button mat-button>By Meet</button>&ndash;&gt;-->
  <!--</a>-->
  <!--<a href="team/list">-->
    <!--<mat-icon>supervisor_account</mat-icon>-->
    <!--&lt;!&ndash;<button mat-button>By Athlete</button>&ndash;&gt;-->
  <!--</a>-->
  <!--&lt;!&ndash;<a href="school"><button mat-button>School/Coach</button></a>&ndash;&gt;-->
  <!--<router-outlet name="main"></router-outlet>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->