<app-top-toolbar [titlestring]="'Team'"></app-top-toolbar>

<mat-card *ngFor="let athlete of team" (click)="athleteModal(athlete)"><mat-card-title><mat-icon>person</mat-icon> <span>{{athlete.firstName}} {{athlete.lastName}}</span></mat-card-title></mat-card>

<mat-card>
    <mat-card-title><mat-icon>person_add</mat-icon> Add New Athlete</mat-card-title>
    <form [formGroup]="teamForm">
        <mat-form-field>
            <input matInput placeholder="First Name" [(ngModel)]="firstName" formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" [(ngModel)]="lastName" formControlName="lastName">
        </mat-form-field>
        <button mat-raised-button (click)="addAthlete()">Save</button>
    </form>
</mat-card>